# Prerequisites
*.d
*.db*
*.bin
*.log
*.vcxproj
*.cmake
*.sln
*ipch
*.opendb
CMakeFiles/
*.txt
*.TXT
*.filters
*.tlog
*.suo
*.pdb
*.recipe
*.ilk
*.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
